
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.one{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.two{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}